# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Flask instance folder
instance/

# Logs
*.log

# Temporary files
*.tmp

# IDE specific files
.idea/
.vscode/
